<h1>Cost and Quality of Life per State</h1>

In [109]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [146]:
#Read CSV data
income_df = pd.read_csv('per-capita-income.csv', skiprows=[0,1,2], index_col=False)
healthcare_df = pd.read_csv('healthcare-expenditures.csv', index_col=False)

<h2>Clean up CSV Data</h2>

In [147]:
# Income per Capita: drop NA values and remove GeoFips column
income_df = income_df.drop('GeoFips', axis='columns')
income_df = income_df.dropna()

In [155]:
# Create list of all the years with columns
years = []

for col in income_df.columns:
    if col != 'GeoName':
        years.append(col)

In [170]:
# Melt dataframe so that the years are all in a single column
melted_df = income_df.melt(id_vars=['GeoName'], 
               value_vars=years,
               var_name='Year',
               value_name='Avg_Income')

# Rename column 'GeoName' to 'State'
melted_df.rename(columns={'GeoName': 'State'}, inplace=True)
melted_df

              State  Year  Avg_Income
0     United States  1998     27493.0
1           Alabama  1998     22651.0
2            Alaska  1998     29287.0
3           Arizona  1998     24130.0
4          Arkansas  1998     21203.0
...             ...   ...         ...
1295       Virginia  2022     68985.0
1296     Washington  2022     75332.0
1297  West Virginia  2022     49993.0
1298      Wisconsin  2022     61475.0
1299        Wyoming  2022     73248.0

[1300 rows x 3 columns]

In [65]:
# Healthcare Expenditures: replace NA values with mean and remove Regions data
healthcare_df = pd.read_csv('healthcare-expenditures.csv', index_col=False)
print(healthcare_df)

    NATIONAL HEALTH EXPENDITURES BY TYPE OF SERVICE AND SOURCE OF FUNDS:  CALENDAR YEARS 1960 to 2022  \
0                        Expenditure Amount (Millions)
1                   Total National Health Expenditures
2                                        Out of pocket
3                                     Health Insurance
4                             Private Health Insurance
..                                                 ...
539                              State and Local Gov't
540  * Other Federal Programs include OEO, Federal ...
541  ** Other State and Local Programs include Stat...
542  NOTE: Numbers may not add to totals due to rou...
543  SOURCE:  Centers for Medicare & Medicaid Servi...

    Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6  \
0         1960       1961       1962       1963       1964       1965
1       27,122     29,060     31,765     34,558     38,245     41,627
2       12,778     13,193     14,085     15,171     16,669     17,863
3        7,324      8,043      8,785      9,660     10,710     11,722
4        5,639      6,275      6,963      7,720      8,791      9,772
..         ...        ...        ...        ...        ...        ...
539         54         55         63         79         87         98
540        NaN        NaN        NaN        NaN        NaN        NaN
541        NaN        NaN        NaN        NaN        NaN        NaN
542        NaN        NaN        NaN        NaN        NaN        NaN
543        NaN        NaN        NaN        NaN        NaN        NaN

    Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 54 Unnamed: 55 Unnamed: 56  \
0         1966       1967       1968  ...        2013        2014        2015
1       45,752     51,186     58,015  ...   2,855,701   3,001,736   3,163,761
2       18,132     17,985     19,951  ...     330,733     340,394     352,709
3       15,357     20,789     24,010  ...   2,018,886   2,150,633   2,288,258
4        9,980     10,132     11,462  ...     879,131     922,556     976,502
..         ...        ...        ...  ...         ...         ...         ...
539        130        149        159  ...       9,609       9,924      10,233
540        NaN        NaN        NaN  ...         NaN         NaN         NaN
541        NaN        NaN        NaN  ...         NaN         NaN         NaN
542        NaN        NaN        NaN  ...         NaN         NaN         NaN
543        NaN        NaN        NaN  ...         NaN         NaN         NaN

    Unnamed: 57 Unnamed: 58 Unnamed: 59 Unnamed: 60 Unnamed: 61 Unnamed: 62  \
0          2016        2017        2018        2019        2020        2021
1     3,305,345   3,443,653   3,601,214   3,756,368   4,156,315   4,289,122
2       364,608     370,046     385,725     402,334     398,279     442,154
3     2,396,257   2,495,747   2,611,015   2,718,028   2,807,404   3,011,769
4     1,030,101   1,080,185   1,128,344   1,155,725   1,146,153   1,218,274
..          ...         ...         ...         ...         ...         ...
539      10,697      10,868      11,515      11,589      12,250      13,073
540         NaN         NaN         NaN         NaN         NaN         NaN
541         NaN         NaN         NaN         NaN         NaN         NaN
542         NaN         NaN         NaN         NaN         NaN         NaN
543         NaN         NaN         NaN         NaN         NaN         NaN

    Unnamed: 63
0          2022
1     4,464,573
2       471,357
3     3,211,472
4     1,289,806
..          ...
539      13,819
540         NaN
541         NaN
542         NaN
543         NaN

[544 rows x 64 columns]